* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#home {
    background-image: url("../img/background-black.jpg");
}

nav {
    background-color: transparent;
    height: 100px;
    display: flex;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-bar a {
    margin-left: 10px;
    font-weight: 400;
    transition: all 0.3s;
}

.nav-bar a:hover {
    border-bottom: 2px solid #fff;
}

form {
    background-color: rgba(0, 0, 0, .75);
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

input {
    padding: 16px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #333;
    font-size: 16px;
    color: #fff;
    opacity: .8;
    outline: none;

}

input[type="submit"] {
    background-color: rgba(211, 8, 18);
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: rgb(173, 7, 15);
    cursor: pointer;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=email]:hover,
input[type=password]:hover {
    opacity: 1;
    background-color: rgb(34, 34, 34);
}

label {
    color: #fff;
    margin-left: 10px;
}

p {
    color: #737373;
}

a {
    color: #fff;
}

.content {
    margin: 0 10%;
    margin-top: 150px;
}

.row {
    display: flex;
    justify-content: center;
}

#profile-page,
#films-page {
    background-color: #141414;
}

h1 {
    color: #fff;
    font-size: 3em;
}

.profile img {
    border: 2px solid transparent
}

.profile img,
.profile p {
    transition: all .3s;
    width: 100%;
}

.profile:hover img {
    border: 2px solid #fff;
}

.profile:hover p {
    color: #fff;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    border: 1px solid #808080;
    padding: .5em 1.5em;
    color: #808080;
    margin-top: 50px;
    font-size: .9em;
    transition: .3s;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
}

.space-between {
    justify-content: space-between;
}

video {
    width: 100%;
}

#video {
    height: 600px;
    overflow: hidden;
}

films-page nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

}

h2 {
    color: #fff;
}

#films-page .row {
    margin-top: 10px;
}

#films-page .content {
    margin-top: 10px;
}


.row div {
    width: 100%;
}

pl-5 {
    padding-left: 50px;
}

button {
    background-color: rgba(51, 51, 51, .8);
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 60px;
    border-radius: 5px;
    transition: all 3s;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: rgba(51, 51, 51, 1);
    cursor: pointer;
}